
body{
    background-color:rgb(26, 207, 135);
}
h1{
    color:white;
    text-decoration:underline;
    text-align:center;
    font-family:sans-serif, monospace, 'Times New Roman';
}
.img{
    height:150px;
    width: 50px;
}
.decor{
    color:white;
    font-size: 24px;
    font-weight:bold;
    font-family:monospace;
    text-align: center;
}
.item{
    display:flex;
    flex-direction:row; 
    list-style:none;
    margin-left:100px;
}
.box{
    
}

